body {
	font-family : 'Dosis';
}

h1 {
	color : #6275A1;
	padding : 10px;
	font-size: 30px;
	float: left;
}

.Index{
	float: right;
	margin: 20px;
	font-size: 20px;
	color: #6275A1;
}

.Musik{
	background-color: #AEB5CC;
	max-width : auto;
	height: auto;
    padding: 10px;
}

.MusikTabelleLinks{
	float: left;
	margin-right: 10%;
	margin-left: 15%;
	margin-top: 1%;
	height: 200;
	border: solid;
	border-width: medium;
	border-color: #444444;
	border-radius: 5px;
}

.MusikTabelleRechts{
	float: right;
	margin-left: 10%;
	margin-right: 15%;
	margin-top: 1%;
	height: 200;
	border: solid;
	border-width: medium;
	border-color: #444444;
	border-radius: 5px;
}

.MusikImages{
	width: 200;
	height: 200;
}

.wrapper2{
	padding: 10px;
	background-color:#0D1D43;
    height:11%;
}

.Upload{
    margin-bottom: 10%;
    padding: 10px;
    float: right;
}
