body {
	background-color: white;
	font-family : 'Dosis';
}

h1 {
	color : black;
	padding : 10px;
	font-size: 30px;
	float: left;
}

li{
	
}

img{
	width:50%;
}

table{
	border: 2px solid #4F4F4F;
}

.menu{
	float: right;
	font-size : 10px;
	background-color: #EEEEFF;
	width : 100%;	
}

.Titel{
	float: right;
	font-size : 10px;
	background-color: #EEEEFF;
	width : 100%;	
}

.Login{
	float: right;
	padding: 20px;
}

.Index{
	float: right;
	margin: 20px;
	font-size: 20px;
}
.MusikTabelle{
	float: left;
	margin-left: 15%;
	margin-right:15%;
	margin-top:5%;
	width:20%;
	height: 20%;
}

.TitelList{
	width: 85%;
	float: right;
	float: top;
	border-right: 0px solid #4F4F4F;
	background-color: #E3E3E3;
	text-align: center;
}

.TitelMenü{
	float: left;
	margin-left: 2%;
	margin-top: 3%;
}

.LängeUndGröße{
	width: 5%;
}


.hrSenkrecht{
	position: static;
	color: #E3E3E3;
	height: 100%; 
	width: 1px;
	float: left;
	margin-left: 1%;
}

.hrWaagerecht{
	float: right;
	position: static;
	color: #E3E3E3;
	height: 1px; 
	width: 95%;
}

.AlbumAlphabet	{
	font-size: 50px;
	text-align: center;
	float: left;
	background-color: #E3E3E3;
}

.AlbumÜberListe{
	margin-left: 5%;
}

.AlbumListe{
	float: left;
	margin-left: 5%;
	background-color: #E3E3E3;
}

.AlbumImage{
	width: 100px;
	height: 100px;
}
