body {
	font-family : 'Dosis';
}

table{
	border: 1px solid;
}

h1 {
	color : #6275A1;
	font-size: 30px;
	text-align: center;
}

thead{
    background-color: white;
}

footer{
    bottom: 0px;
}

.wrapper2{
	padding: 10px;
	background-color:#0D1D43;
    height:11%;
}

.Titel{
	font-size : 10px;
	background-color: #AEB5CC;
    background-image: url("/img/bg2.jpg");
	max-width : 100%;
    height: 100%;
	font-weight: 900;
	padding: 10px;
}

.TitelMenü{
	background-color: #0D1D43;
	border: solid;
	border-color: #444444;
	border-width: medium;
	border-radius: 5px;
	margin-top: 40%;
	float: left;
	width: 100;
	height: 50;
	text-align: center;
	font-size: 16;
	text-decoration: none;
	color: #6275A1;
}

.Titelth{
    empty-cells: hide;
    width: 20%;
	text-align: center;
	color: #6275A1;
}

.Titeltd{
    empty-cells: hide;
	text-align: center;
	background-color: #F1CE87;
}

.TitelList{
	text-align: center;
	float: right;
	margin-top: 20;
	margin-right: 10px;
	max-width: 85%;
	width: auto;
	background-color: #F1CE87;
}

.search_delete{
    float: left;
	margin-top: 30%;
    padding: 10px;
    border-width: medium;
    border-style: outset;
    border-color: darkslategrey;
    background-color: #0D1D43;
    height: 9em;
    margin-left: 0%;
    border-radius: 10px;
}

.Menü{
	float: left;
	width: 5%;
	margin-left: 2%;
	margin-top: 1%;
}
